kubernetes==11.0.0
jupyterhub==1.4.1
jupyterhub-kubespawner==1.0.0
tornado==5.1.1
oauthenticator==14.2.0
wrapspawner==1.0.0
jupyterhub-tmpauthenticator==0.6
jupyterhub-ldapauthenticator==1.2.2
psycopg2==2.8.6
openshift==0.11.2
wrapt==1.12.1
jupyterhub-singleuser-profiles==0.6.1
python-ldap
pycurl